*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
}


/*For home.html*/
.mainBackground {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(26, 107, 212, 0.5),rgba(223, 226, 225, 0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/*For leistungen.html */
.mainBackground2 {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(201, 214, 255, 0.5),rgba(5, 117, 230, 0.3));
    /*--background-image: linear-gradient(rgba(5, 117, 230, 0.4), rgba(0, 247, 96, 0.1));--*/
    position: absolute;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

/*Navigation bar */
nav{
    width: 100%;
    height: 11em;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 8px 82px 0 rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(5px);
}
/*Logo */
nav .logo{
    width: 140px;
    filter: opacity(80%);
}
/*Navigation buttons */
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}
/*Navigation buttons text */
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border: 2px solid #fff;
    padding: 10px 50px;
    border-radius: 10px;
    transition: 0.5s;
    background-color: rgba(5, 0, 0, 0.137);
}

/*Navigation buttons "on Hover" effect */
nav ul li a:hover{
    -webkit-text-stroke: 1px #faa200;
}

/*Element: big text in the middle for home.html */
.content{
    text-align: center;
}
/*Its Text design */
.content h1{
    text-decoration: none;
    font-size: 120px;
    color: #fff;
    font-weight: 600;
    transition: 0.5s;
}
/*"On Hover" effect for the text in the middle */
.content h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}
/*The button underneath the big text from home.html */
.content a{
    text-decoration: none;
    display: inline-block;
    color: #fff;
    font-size: 24px;
    border: 4px solid #faa200;
    padding: 14px 70px ;
    border-radius: 10px;
    margin-top: 100px;
    transition: 0.5s;
    background-color: rgba(5, 0, 0, 0.137);
}
/*"On Hover" effect for the button */
.content a:hover{
    -webkit-text-stroke: 0.5px #fa6900;
}
/* */
/* */
/* */
/* */
/*The background Video from index.html */
.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/*Commands to keep the minimum aspect-ratio of the background video */
@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
/*Commands to keep the maximum aspect-ratio of the background video */
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}
/* */
/* */
/* */

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-left: 15%;
    margin-right: 15%;
}

.footer-nav {
    justify-content: center;
    border-bottom: 2px;
    border-color: #DDDDDD;
    border-bottom-style: solid;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.footer-nav li a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    color: #f5ae78;
}

.footer-nav li a:hover {
    color: #faa200;
}

.footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer-copyright {
    display: flex;
    align-items: center;
}

.footer-socials {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: end;
}

.footer-socials a {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    text-align: center;
    height: 24px;
}

.footer-socials a li p {
    color: #9d00ad;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-block;
}

.footer-socials li {
    margin-left: 1rem;
}

#features {
    padding-top: 50px;
}

#features h2 {
    margin-top: 25px;
    height: 75px;
}

#features ul {
    justify-content: center;
    padding-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
}

#features ul li {
    width: 200px;
    height: 350px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.feature-text{

}

.feature-image{
}

#section-contact {
    background-color: #f5ebd7;
    text-align: center;
    margin-bottom: 2rem;
}

#section-contact p {
    display: inline-block;
    font-size: 30px;
    margin-top: auto;
    margin-bottom:auto;
}

#section-contact a {
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border: 4px solid #fa6900;
    color: #000;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    transition: 0.5s;
}

#section-contact a:hover {
    -webkit-text-stroke: 0.5px #fa6900;
}

#section-contact div {
    padding-top: 50px;
    padding-bottom: 50px;
}




/* Image Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1000px;
}

.gallery-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width as needed */
    margin-bottom: 20px;
}

.gallery-item img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    cursor: pointer;
    height: 100%;
}

.gallery-item img:hover {
    transform: scale(2.05);
}






.cards {
    left: 20em;
    margin-top: 50em;
    position: absolute;
    width: 310px;
    height: 460px;
    transform: rotate(-30deg) skew(25deg) scale(0.5);
    background: rgba(0, 0, 0, 0.288);
    transition: 0.5s;
    border-radius: 25px;
  }
  .cards:hover img:nth-child(6) {
    transform: translate(200px, -200px);
  }
  
  .cards:hover img:nth-child(5) {
    transform: translate(180px, -180px);
  }
  
  .cards:hover img:nth-child(4) {
    transform: translate(160px, -160px);
  }
  .cards:hover img:nth-child(3) {
    transform: translate(120px, -120px);
    opacity: 0.8;
  }
  .cards:hover img:nth-child(2) {
    transform: translate(80px, -80px);
    opacity: 0.6;
  }
  .cards:hover img:nth-child(1) {
    transform: translate(40px, -40px);
    opacity: 0.4;
  }
  
  .cards img {
    width: 100%;
    position: absolute;
    transition: 0.5s;
  }
  
  .animate {
    animation: 1.5s animate ease;
  }
  
  @keyframes animate {
    0% {
      transform: translate(40px, -40px);
      left: 0;
      opacity: 0.8;
    }
    20% {
      transform: translate(40px, -40px);
      left: -360px;
    }
    80% {
      transform: translate(120px, -120px);
      left: -360px;
    }
    100% {
      transform: translate(160px, -160px);
      left: 0;
      opacity: 1;
    }
  }
  


  .cardBACKS {
    right: 20em;
    margin-top: 50em;
    position: absolute;
    width: 300px;
    height: 460px;
    transform: rotate(30deg) skew(-25deg) scale(0.5);
    background: rgba(0, 0, 0, 0.288);
    border-radius: 25px;
  
    transition: 0.5s;
  }
  .cardBACKS:hover img:nth-child(6) {
    transform: translate(-200px, -200px);
  }
  
  .cardBACKS:hover img:nth-child(5) {
    transform: translate(-180px, -180px);
  }
  
  .cardBACKS:hover img:nth-child(4) {
    transform: translate(-160px, -160px);
  }
  .cardBACKS:hover img:nth-child(3) {
    transform: translate(-120px, -120px);
    opacity: 0.8;
  }
  .cardBACKS:hover img:nth-child(2) {
    transform: translate(-80px, -80px);
    opacity: 0.6;
  }
  .cardBACKS:hover img:nth-child(1) {
    transform: translate(-40px, -40px);
    opacity: 0.4;
  }
  
  .cardBACKS img {
    width: 100%;
    position: absolute;
    transition: 0.5s;
  }
  
  .animateBACK {
    animation: 1.5s animateBACK ease;
  }
  
  @keyframes animateBACK {
    0% {
      transform: translate(-40px, -40px);
      left: 0;
      opacity: 0.8;
    }
    20% {
      transform: translate(-40px, -40px);
      left: 360px;
    }
    80% {
      transform: translate(-120px, -120px);
      left: 360px;
    }
    100% {
      transform: translate(-160px, -160px);
      left: 0;
      opacity: 1;
    }
  }